* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-q-open-box {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-q-open-box > .btn-q-open {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%, 0% 50%);

  transition: transform 0.3s;
}

.btn-q-open--active {
  transform: translateX(15px);
}

.card {
  display: none;
}

.card-header > .btn-q-close {
  font-size: 20px;
  cursor: pointer;
}

.card-body {
  padding: 5px 15px;
  gap: 30px;
}

.btn-box {
  gap: 20px;
}

.btn {
  margin-bottom: 15px;
}

small {
  font-style: italic;
}

.steps-box {
  display: none;
  font-size: 14px;

  padding: 25px;
  margin-left: 20px;
  width: 80%;

  border-radius: 10px;

  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-close-steps-box {
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#bill {
  display: none;

  position: absolute;
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
