* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: block;
}

.card-body {
  padding: 5px 15px;
  gap: 30px;
}

.btn-box {
  gap: 20px;
}

.btn {
  margin-bottom: 15px;
}

small {
  font-style: italic;
}
